<%= month_calendar calendars: @calendars do |date, calendars| %>
  <%= date %>

  <% if @record.record_date == date %>
    <div>体重：<%= @record.weight %></div>
  <% end %>

  <% calendars.each do |calendar| %>
    <div>
      <%= calendar.name %>
    </div>
  <% end %>
<% end %>